.myform{
    padding: 4rem 0;
}

.form-control{
    width: 100%;
    max-width: 100%;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 10px 5px;
}

.submit--button{
    padding: 1em;
    color: tomato;
}

.field{
    padding: 1em 0;
}